@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


/* Code examples */
.language-html {
  display: block;
  background-color: LightGray;
  border-radius: 0.7rem;
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
}

.result {
  border: solid black 0.1rem;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  margin-right: 6rem;
}

.result p {
  margin-bottom: 0;
  font-family: sans-serif;
}

/* Navigation bar */
nav {
  position: fixed;
  border-right: solid;
  height: 100%;
  padding: 1rem;
  background-color: #EEE;
  opacity: 1;
}

nav header {
  padding-bottom: 1rem;
  font-family: 'Josefin Slab', sans-serif; 
}

nav li{
  font-size: 1.2rem;
  font-family: 'Josefin Slab', sans-serif;
  border-top: 0.01rem solid;
  list-style: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.nav-link {
  color: #4f4f4f;
  text-decoration: none;
  cursoe: pointer;
}

/* Actual Documentation */
#main-doc {
  position: absolute;
  left: 17rem;
  padding: 1rem;
  tetx-align: left;
  right: 0;
}

main header {
  font-family: 'Josefin Slab', sans-serif;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

header h3 {
  margin-bottom: -1rem;
  font-family: 'Roboto', sans-serif;
}

main p {
  font-family: 'Poppins', Roboto;
  margin-bottom: 1rem;
 }

/* Smaller screens */
@media (max-width: 700px) {
  nav {
    background-color: #EEE;
    width: 100%;
    text-align: center;
    height: 30%;
    overflow: scroll;
    z-index: 10;
  }
  
  #main-doc {
    width: 100%;
    left: 0rem;
    margin-top: 25%;
  }
}

@media (max-width: 600px) {
  nav {
    height: 20%;
  }
  
  #main-doc {
    margin-top: 30%;
  }
}
